

{% block content %}

<div class="container mt-4">

    <div class="alert alert-danger">

        <h4>Eliminar gasto</h4>

        <p>
            ¿Deseas eliminar este gasto?
        </p>

        <p>
            <strong>
                {{ object.categoria }}
                - ${{ object.monto }}
            </strong>
        </p>

        <form method="post">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">
                Eliminar
            </button>

            <a href="{% url 'gastos:list' %}"
               class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}