# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Static collected
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

settings.py

helados/settings.py
