
deploy.sh
deploy.sh.save

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtualenv
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Static collected
staticfiles/
static/
# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

settings.py

helados/settings.py

deploy.sh
.sh

