{% load static %}


<aside class="w-64 bg-slate-900 text-white flex flex-col min-h-screen">

    <div class="p-6 border-b border-slate-800">

        <h1 class="text-2xl font-bold">
            ERP Helados
        </h1>

        <p class="text-sm text-slate-400 mt-1">
            Panel Administrativo
        </p>

    </div>

    <nav class="flex-1 p-4 space-y-2">

        <a href="{% url 'dashboard:home' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            📊 Dashboard

        </a>

        <a href="{% url 'servicios:pendientes' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            🏪 Pagos pendientes

        </a>


        <a href="{% url 'resumen_list' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            🏪 Ventas

        </a>

        <a href="{% url 'sucursales:list' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            🏪 Sucursales

        </a>

        <a href="#"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            📦 Inventario

        </a>

        <a href="{% url 'gastos:list' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            💰 Gastos

        </a>

        <a href="{% url 'nomina:empleado_list' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            👥 Nómina

        </a>

        <a href="{% url 'servicios:list' %}"
           class="block px-4 py-3 rounded-lg hover:bg-slate-800 transition">

            📅 Servicios

        </a>

    </nav>

    <div class="border-t border-slate-800 p-4">

        <form
            method="post"
            action="{% url 'logout' %}"
        >

            {% csrf_token %}

            <button
                type="submit"
                class="w-full bg-red-600 hover:bg-red-700 rounded-lg py-2 transition"
            >

                Cerrar sesión

            </button>

        </form>

    </div>

</aside>